<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lpc.designpattern">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".strategy.first.StrategyPatternActivity"/>
        <activity android:name=".strategy.second.StrategyPatternActivity02"/>
        <activity android:name=".decorator.first.DecoratorPatternActivity01"/>
        <activity android:name=".decorator.second.DecoratorPatternActivity02"/>
        <activity android:name=".proxy.ProxyActivity"/>
        <activity android:name=".abstractfactory.first.AbsFactoryActivity"/>
        <activity android:name=".abstractfactory.second.AbsFactory02Activity"/>
        <activity android:name=".adapter.first.AdapterActivity"/>
        <activity android:name=".adapter.second.Adapter2Activity"/>
        <activity android:name=".facade.FacadeActivity"/>
        <activity
            android:name=".simplefactory.FactoryActivity"
            android:label="@string/title_activity_factory"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>